.header {
  
    color: #387b8b; /* White text color */
    padding: 20px; /* Padding around the text */
    text-align: center; /* Center-align the text */
    font-size: 32px; /* Larger font size */
    font-weight: bold; /* Bold font weight */
    font-family: 'Arial', sans-serif; /* Specify a fallback font family */
    letter-spacing: 1px; /* Add a little letter spacing */
    text-transform: uppercase; /* Convert text to uppercase */
    border-bottom: 2px solid #2980b9; /* Border at the bottom for separation */
}
