.task{
    width: 400px;
    display: flex;
    overflow-wrap:break-word;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff; /* Task background color */
    border: 1px solid #ddd; /* Border for the task */
    border-radius: 5px; /* Rounded corners */
    padding: 15px; /* Padding inside the task */
    margin-bottom: 15px; /* Spacing between tasks */
    /* background-color: aqua; */
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    border: 1px solid #4CAF50; /* Green border */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease;
    margin:2%;
    padding:2%; 
}

.button:hover {
    background-color: #45a049; /* Darker green color on hover */
}
.task-string {
    color: #333; /* String text color */
    font-size: 16px; /* Font size for the task string */
    margin-bottom: 5px; /* Spacing between task string and date */
}

.task-date {
    color: #555; /* Date text color */
    font-size: 14px; /* Font size for the date */
    margin-bottom: 10px; /* Spacing between date and status */
}

.task-status {
    font-weight: bold; /* Bold font weight for status */
    color: #3498db; /* Status color */
}