
.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width:100%;
}

.input-field {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
