
.main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin:auto; 
    background-color: aliceblue;
    width: 100%; 
    padding:5px 40px;
    box-sizing: border-box;
    border-radius: 3%;
    background-color: #f5f5f5; /* Light background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */

}

.mainContent{
    display:flex;
    justify-content: center;
    margin:2%;
    align-items: center;
    flex-direction: column;

   
}



