    body{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding:2%;
        width: auto;
        background-color: rgb(210, 232, 239);
    }